<div class="Franchises">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Create At Column -->
    <ng-container matColumnDef="createAt">
      <th mat-header-cell *matHeaderCellDef>Creado</th>
      <td mat-cell *matCellDef="let element">{{ element.createAt }}</td>
    </ng-container>

    <!-- Update At Column -->
    <ng-container matColumnDef="updateAt">
      <th mat-header-cell *matHeaderCellDef>Actualizado</th>
      <td mat-cell *matCellDef="let element">{{ element.updateAt }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element" class="actions-columns">
        <button mat-mini-fab aria-label="Detalles de franquicia">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-mini-fab aria-label="Eliminar la franquicia" class="danger">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [length]="total()" [pageSize]="10" [pageSizeOptions]="[10, 25, 100]" aria-label="Seleccionar página">
  </mat-paginator>
</div>