.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  .spacer {
    flex: 1 1 auto;
  }
  z-index: 10;
}

.area-menu,
.content {
  padding: 65px 0;
}

.content {
  height: 100vh;
}
