<nav class="Nav">
  <mat-list role="menu">
    <mat-list-item role="link">
      <mat-icon matListItemIcon>note</mat-icon>
      <a mat-raised-button routerLink='app/dashboard' routerLinkActive="router-link-active">Dashboard</a>
    </mat-list-item>

    <mat-list-item role="link">
      <mat-icon matListItemIcon>note</mat-icon>
      <a mat-raised-button routerLink="app/franquicias" routerLinkActive="router-link-active">Franquicias</a>
    </mat-list-item>

    <mat-list-item role="link">
      <mat-icon matListItemIcon>note</mat-icon>
      <a mat-raised-button routerLink='app/productos' routerLinkActive="router-link-active">Productos</a>
    </mat-list-item>

    <mat-list-item role="link">
      <mat-icon matListItemIcon>note</mat-icon>
      <a mat-raised-button routerLink='app/ventas' routerLinkActive="router-link-active">Ventas</a>
    </mat-list-item>

    <mat-list-item role="link">
      <mat-icon matListItemIcon>note</mat-icon>
      <a mat-raised-button routerLink='app/usuarios' routerLinkActive="router-link-active">Usuarios</a>
    </mat-list-item>

    <mat-list-item role="link">
      <mat-icon matListItemIcon>note</mat-icon>
      <a mat-raised-button routerLink='app/roles' routerLinkActive="router-link-active">Roles</a>
    </mat-list-item>

  </mat-list>

</nav>
